.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-image: url("../public/images/image (9).jpg");
    height:100vh;
    width: 100%;
    background-position:center;
    background-size: cover ;
    background-repeat: no-repeat;
}

.container
{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 65%;
    height: 65vh;
    padding-top: 130px;
    justify-content: space-around;
    margin-left: 18%;

}
.formLabels
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 55px;
    padding-left: 50%;
    width: 120%;

}
.sub
{       background:#0b0203;
    color: white;
    font-size: 17px;
    border-radius: 5px;
    padding: 7px 20px;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.2);
    margin-bottom: 10px;

}
.filliere {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-right: 100px;
    margin-top: 30px;



}
.fillabel
{
    display: flex;
    flex-direction: row;
    column-gap:10%;
    align-items: baseline;
    padding-right: 40%;
    width: 100%;
    height: 30%
}
.fil{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    height: 70px;
    column-gap: 20%;
}
.side{
    background-image:url("../public/images/psss.jpg")  ;
    background-size: cover;
    background-position: center;
    width: 53%;
    height: 85vh;
    border-radius: 20px;
}
.form{
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-size: cover;
    row-gap: 12px;
    background: rgb(226,229,238,0.8) center;
    margin-top: auto;
    width: 137%;
    height: 85vh;

}
.input
{   background: aliceblue;
    border-radius: 3px ;
    width: 55%;
    height: 37%;
    border: none;
    padding: 5px;
    appearance: none;
    outline: none;


}
.firstInput
{   background: aliceblue;
    border-radius: 3px ;
    width: 55%;
    height: 57%;
    border: none;
    padding: 7px 5px;
    appearance: none;
    outline: none;


}

.label{

    display: flex;
    align-items: baseline;
    padding-right: 10px;
    color:black;
    font: bold 17px/1.5 Helvetica, Verdana, sans-serif;


}
.firstLabel{

    display: flex;
    align-items: baseline;
    padding-right: 10px;
    color:black;
    font: bold 17px/1.5 Helvetica, Verdana, sans-serif;
    padding-top: 22px;


}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.aero{
    height: 100%;
    width: 30%;
}