@import-normalize;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.return {
  position: absolute;
  top: 92%;
  right: 45%;
  padding: 10px 20px 10px 28px;
  border-radius: 5px;
  text-decoration: none;
  background: black center;
  width: 120px;
  color: white;
}
